@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {font-family: Pretendard;}
p{text-align: center; font-family: 'Gowun Batang', serif; font-size: 100px; font-weight: 700; position: relative;}  
li{font-family: Pretendard; }
input{background-color: #eceaea77;}
span{vertical-align:middle}
.total{left: 70px; position: relative;}
h1{text-align: center; margin-bottom: 5px; font-family: Pretendard; }
h3{text-align: center; margin-bottom: 5px; font-family: Pretendard; }
h4{line-height: 35px; text-align: center; font-weight: 300; margin-top: 0; font-family: Pretendard; margin-bottom: 20px;}
h5{ font-weight: 300; margin-top: 0; font-family: Pretendard; margin-bottom: 20px;}

.topRightBox>h3{text-align: left;}

body{position: relative;}
#body-wrapper{min-height: 969px; height: auto;}
footer{width: 100%; position: absolute; bottom: -7%; left: 0;}

/* 로고 */
#logo{width: 120px; height: 70px;}

/* 상단 박스 */
.top{background-color: #EAEAEA;}
.top ul{padding: 0; text-align: center; margin-top: 0.4vw; display: flex; justify-content: right;}
.top ul li{display: inline-block; width: 3.7vw; height: 2vw; list-style:none; font-size: 14px; display: flex; align-items: center;}
a{text-decoration: none; color: black; font-size: 15px;}

/* 네비 */
.nav{display: flex; justify-content: space-between; align-items: center; margin-bottom: 40px;}
.nav>div:nth-child(2)>ul>li{display: flex; align-items: center;}
.nav ul{height: 3vw; list-style-type: none; text-align: right; flex-direction: row; flex-wrap: nowrap; display: flex;}
.nav img{width: 35px; height: 35px;}
#sc{width: 25px; height: 25px;}
.search{background-color: #eceaea77; height:35px; width: 180px; display: flex; align-items: center; color: #999999;}
.search>input{outline: unset; border: unset; background-color: unset;}
.ct{margin:10px; font-weight:500; font-size: 18px;}
.nav>div:nth-child(3)>ul>li{align-items: center; margin: 5px;}
.nav>div:nth-child(3)>ul>li>a>img{width: 25px; height: 25px;}
.nav>div:nth-child(3)>ul{display: flex; align-items: center;}

/****** 상단 박스 ******/
/* 상단 전체 박스 */
.topTotal{display: flex; justify-content: center; }
.topRightBox{margin-top: 10px; width: 550px;}
.heart{width: 71px; position: relative;}
td>button{width: 30px; height: 30px; background-color: white; border-color: #9999992b;}
#inptext{width: 10px; border: #eaeaea00; background-color: #99999900; font-size: large;}

/* 왼쪽 상단 이미지박스 */
.imgBox{width: 350px; height: 600px; border: 1px solid rgb(255, 255, 255); margin-right: 120px;}
.prodImg>img{width: 350px; height: 450px;}
.tagImg{display: flex; justify-content: center;}
.tagImg>img{width: 80px; height: 8  0px; border: 1px solid rgb(223, 223, 223);  margin: auto; border-radius: 20px; margin: 12px; padding: 5px;}

/* 상품태그 */
.prodTag{width: 400px; height:30px;  text-align: center;  line-height: 28px; display: flex; color: white; font-family: 'Gowun Batang', serif;}
.prodTag>div{padding: 0 10px; margin-right: 8px; border: 1px solid rgba(0, 0, 0, 0); background-color: rgb(27, 27, 27); border-radius: 50px; }
table{font-size: larger; margin-top: 30px;  border-spacing: 0 15px; font-family: Pretendard;}
.totalSum{float: right; display: flex; margin-top: 25px;}
.totalSum>div:nth-child(1){line-height: 30px;}
.totalSum>div:nth-child(2){font-size: larger; font-weight: 800;}
.totalSum>div:nth-child(3){line-height: 30px;}
.button{display: flex; margin-top: 80px;}
.button>div>a{ border-radius: 20px; background-color: rgb(0, 0, 0); color: white; padding: 10px; margin-right:30px;  margin-top: 30px; text-align: center; height: 25px; line-height: 25px;} 

/*  중간 메뉴바  */
.miniNav{display: flex; justify-content: center; margin-top: 20px;}

/* 상세정보 */
.detailInfo{width: 1100px;}


/* 관련 상품 */
.sameTag{text-align: center;}
.multiple-items{width: 1200px; margin-left: 228px;}
.sTag{width: 270px; font-family: Pretendard;}




/* 문구 */
.name{font-size: 40px; font-weight: bold; font-family: Pretendard; list-style: none; margin-bottom: 80px;}
.volume{font-family: Pretendard; justify-content: center; font-size: 15px;}

/* 상품명 */
.prodName{width: 250px; height: 30px; margin: 0 auto; font-size: 21px; font-family: Pretendard; font-size: 15px; text-align: center;}


/* 상품태그 */
.prodTag{width: 400px; height:30px;  text-align: center;  line-height: 28px; display: flex; color: white; font-family: 'Gowun Batang', serif;}
.prodTag>div{padding: 0 10px; margin-right: 8px; border: 1px solid rgba(0, 0, 0, 0); background-color: rgb(27, 27, 27); border-radius: 50px; }

/* 상품 */
#first{width: 1373px; overflow: hidden; left: 180px; position: relative;}
#banner{width: 1380px; top: 30px; height: 380px; left: 180px; position: relative;}
.arrow{width: 35px; height: 35px; position: absolute; top: 260px; right: -3px;}
.ibox{width: 250px; height: 320px; margin: 0 auto; align-items: center; border:solid 1px #EAEAEA; position: relative; display: flex;}
.product{width: 250px; height: 320px; font-family: Pretendard;}
.first_prod{display: flex; }
.bar{left: 32vw; position: relative;}
.tag{margin: 7px 0 30px; width: 300px; top: 10px; justify-content: center;}
.sameProd{display: flex; justify-content: center;}
.first_prod{justify-content: center;}
.volume{width: 250px; text-align: center; margin: 0 auto;}

/* 상세정보 */
.detailInfo{margin: 0 auto;}
.detail_product{text-align: center;}
.detail_prodTag{display: flex; justify-content: center;  font-family: 'Gowun Batang', serif;}
.detail_prodTag>div{color: white; background-color: black; border-radius: 20px; margin:20px; padding: 10px;}
.detail_tagImg>img{width: 150px; height: 150px; margin: 20px;}

/* 사용후기 */
.review{border-bottom: 1px solid black; line-height: 30px; border-collapse: collapse; width: 1200px; text-align: center; font-family: Pretendard;}
.tr{border-bottom: 1px solid black; font-family: Pretendard; font-size: smaller;}
.td{border-bottom: 1px solid black; font-family: Pretendard;}
.tdName{width: 200px;}


/* 푸터 */
#introduce{left: 35vw; font-size: 14px; top: 1.5vw; position: relative; color: #616060; font-family: 'Gowun Batang', serif;}
footer>div>ul>li{display: inline-block; left: 38.5vw; position: relative; top: 12px; color: #6d6d6d; font-family: 'Gowun Batang', serif;}
footer li>a{color: #6d6d6d;}
#ft{background-color: #EAEAEA; height: 80px; position: relative; top: 2.5vw;}
#copy{left: 35vw; position: relative; top: 20px; color: #3b3b3b; font-family: 'Gowun Batang', serif;}