@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Nanum+Gothic:wght@700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


p{text-align: center; font-family: 'Gowun Batang', serif; font-size: 100px; font-weight: 700; position: relative;}  
li{font-family: Pretendard;}
input{background-color: #eceaea77;}
span{vertical-align:middle}
.total{left: 70px; position: relative;}

body{position: relative;}
#body-wrapper{min-height: 969px; height: auto;}
footer{width: 100%; position: absolute; bottom: -7%; left: 0;}

/* 로고 */
#logo{width: 120px; height: 70px;}

/* 상단 박스 */
.top{background-color: #EAEAEA;}
.top ul{padding: 0; text-align: center; margin-top: 0.4vw; display: flex; justify-content: right;}
.top ul li{display: inline-block; width: 3.7vw; height: 2vw; list-style:none; font-size: 14px; display: flex; align-items: center;}
a{text-decoration: none; color: black; font-size: 15px;}

/* 네비 */
.nav{display: flex; justify-content: space-between; align-items: center;}
.nav>div:nth-child(2)>ul>li{display: flex; align-items: center;}
.nav ul{height: 3vw; list-style-type: none; text-align: right; flex-direction: row; flex-wrap: nowrap; display: flex;}
.nav img{width: 35px; height: 35px;}
#sc{width: 25px; height: 25px;}
.search{background-color: #eceaea77; height:35px; width: 180px; display: flex; align-items: center; color: #999999;}
.search>input{outline: unset; border: unset; background-color: unset;}
.ct{margin:10px; font-weight:500; font-size: 18px;}
.nav>div:nth-child(3)>ul>li{align-items: center; margin: 5px;}
.nav>div:nth-child(3)>ul>li>a>img{width: 25px; height: 25px;}
.nav>div:nth-child(3)>ul{display: flex; align-items: center;}

/* 배너 이미지 */
#main{width: 1900px; height: 600px; }

/* 문구 */
.name{font-size: 40px; font-weight: bold; font-family: 'Gowun Batang', serif; list-style: none; margin-bottom: 80px;}
.volume{font-family: 'Gowun Batang', serif;}

/* 상품명 */
.prodName{width: 400px; height: 30px; font-size: 21px; font-family: 'Gowun Batang', serif;}

/* 상품태그 */
.prodTag{width: 400px; height:30px;  text-align: center;  line-height: 28px; display: flex; color: white; font-family: 'Gowun Batang', serif;}
.prodTag>div{padding: 0 10px; margin-right: 8px; border: 1px solid rgba(0, 0, 0, 0); background-color: rgb(27, 27, 27); border-radius: 50px; }

/* 상품 */
#first{width: 1373px; overflow: hidden; left: 180px; position: relative;}
#banner{width: 1380px; top: 30px; height: 380px; left: 180px; position: relative;}
.arrow{width: 35px; height: 35px; position: absolute; top: 260px; right: -3px;}
.ibox{width: 300px; height: 450px; border:solid 1px #EAEAEA; position: relative; display: flex;}
.product{width: 300px; height: 400px;}
.first_prod{display: flex; }
.first_prod>div{margin-right: 55px;}
.bar{left: 32vw; position: relative;}
.tag{margin: 7px 0 30px; width: 300px; top: 10px;}

/* 좋아요&장바구니 */
.two{position: absolute; left: 210px; bottom: 10px; display:flex}
.tbox{background-color: #f1eeee; border-radius: 20px; width: 35px; height: 35px; display: flex; justify-content: center; align-items: center;}
.thum, .cart{width: 25px; height: 25px;}

section{margin-bottom: 50px;}
p{margin-bottom: 22px;}

/* 푸터 */
#introduce{left: 35vw; font-size: 14px; top: 1.5vw; position: relative; color: #616060; font-family: 'Gowun Batang', serif;}
footer>div>ul>li{display: inline-block; left: 38.5vw; position: relative; top: 12px; color: #6d6d6d; font-family: 'Gowun Batang', serif;}
footer li>a{color: #6d6d6d;}
#ft{background-color: #EAEAEA; height: 80px; position: relative; top: 2.5vw;}
#copy{left: 35vw; position: relative; top: 20px; color: #3b3b3b; font-family: 'Gowun Batang', serif;}



.tbox{width: 35px;
    margin: 0px auto;
    position: relative}

.full {width: 58px; height: 58px;
    position: absolute;
    display: none;
        top: -11.1px;
        left: -11.5px;
      }
      
.tbox:hover .full {
display: block;
}